
<footer class="section-footer">
    <div class="container w-container">
        <div class="right-text">Copyright © 2019 the Bytecode Alliance contributors.</div>
    </div>
</footer>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/js/webflow.js" type="text/javascript"></script>

<script>
    document.getElementById("menu-button").addEventListener("click", function() {
        document.getElementById("nav-entries").classList.toggle("show");
    })
</script>
