<nav id="site-nav">
    <a href="{{ site.baseurl }}/" class="brand"><img
            src="{{ site.baseurl }}/images/bytecode-alliance-logo.svg" width="164" alt="Bytecode Alliance logo">
    </a>

    <a id="menu-button"><div></div><div></div><div></div></a>

    <div id="nav-entries" class="container w-container">
        <ul role="navigation">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/articles">News</a></li>
            <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
            <li class="join-button"><a href="{{ site.baseurl }}/membership">Membership</a></li>
            <li class="github-link"><a href="https://github.com/bytecodealliance/">
                    <img src="{{ site.baseurl }}/images/github-icon.svg" alt="GitHub link" class="github">
                    <span>GitHub</span>
                </a>
            </li>
            <li class="zulip-link"><a href="https://bytecodealliance.zulipchat.com/">
                    <img src="{{ site.baseurl }}/images/zulip-icon-circle.svg" alt="Zulip link" width="28px;" height="27px;">
                    <span>Zulip</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
