<nav id="site-nav">
    <a href="{{ site.baseurl }}/" class="brand w--current"><img
            src="{{ site.baseurl }}/images/bytecode-alliance-logo.svg" width="164" alt="Bytecode Alliance logo">
    </a>

    <a id="menu-button"><div></div><div></div><div></div></a>

    <div id="nav-entries" class="container w-container">
        <ul role="navigation">
            <li><a href="{{ site.baseurl }}/mission">Mission &amp; Values</a></li>
            <li><a href="{{ site.baseurl }}/press/formation">Press Releases</a></li>
            <li><a href="{{ site.baseurl }}/articles">Articles</a></li>
            <li class="github-link"><a href="https://github.com/bytecodealliance/">
                    <img src="{{ site.baseurl }}/images/github-icon.svg" alt="GitHub link" class="github">
                    <span>GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
